.env
raw_data/*
.python-version
*checkpoint.ipynb
*.ipynb_checkpoints
*.egg-info
*.csv
*.zip
*.sqlite
data_npy
**/*.svg
**/*.gif
**/*.png
**/*.npy
**/*.tfrecords
.DS_Store
__pycache__/*
dl_logic/__pycache__/*
**/*.pyc
